<!DOCTYPE html>
<html>

<head>

        <title>confirm your information</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
         <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

   

</head>

<body>
 <div class="container">
    <h2>User Confirmation</h2>
    <p>Please Read Your Information Below and if it Correct, Conform it</p>
   
    <table style="width:100%">



<ul>
   

 
</ul>



        <tr>
            <th class="head">FirstName :</th>
            <td>{{ dataa.name }}</td>
        </tr>
        <tr>
            <th class="head"> LastName :</th>
            <td>{{ dataa.family }}</td>
        </tr>
        <tr>
            <th class="head">BirthDay</th>
            <td>{{ dataa.birthdate }}</td>
        </tr>
        <tr>
            <th class="head">UserName</th>
            <td>{{ dataa.username }}</td>
        </tr>
        <tr>
            <th class="head">Email :</th>
            <td>{{ dataa.email }}</td>
        </tr>
         <tr>
            <th class="head">National ID or Residence ID :</th>
            <td>{{ dataa.nationalid }}</td>
        </tr>

              <tr>
            <th class="head">BirthDate :</th>
            <td>{{ dataa.birthdate }}</td>
        </tr>



                         <tr>
            <th class="head">Sex :</th>
            <td>{{ dataa.sex }}</td>
        </tr>

                            <tr>
            <th class="head">Mobile Number :</th>
            <td>{{ dataa.mobile }}</td>
        </tr>


                                    <tr>
            <th class="head">Tag ID :</th>
            <td>{{ dataa.tagid }}</td>
        </tr>


                                         <tr>
            <th class="head">Pin ID:</th>
            <td>{{ dataa.pinid }}</td>
        </tr>

    </table>
    <br>
      <div class="submit">
          <button type="submit" class="btn btn-success">Agree</button>

            <button type="submit" class="btn btn-warning" onclick="window.location.href='/theform'">Correct
                Information</button>
        </div>

</div>

</body>

</html>
