<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script type="text/javascript">
    $(function() {
        $('a#process_input').bind('click',function(){
            $.getJSON('/background_process',{
            proglang: $('input[name="proglang"]').val()
            }, function(data) {
            $("#result").text(data.result);
            });
            return false;
            });
            });
    </script>




    <title>Title</title>
</head>
<body class="container">
<form method="POST">
<div>
    <h3>which is the best programming language?</h3>
    <input type="text" class="form-control" size="5" name="proglang" id="proglang">
    <br>
    <a href="#" id="process_input">  <button type="button" class="btn btn-primary">Primary</button> </a>
</div>
<br>
    </form>

<p id="result">


</p>


</body>
</html>